<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Maps_App.Maps_App">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
<permission 
        android:name="Maps_App.Maps_App.permission.MAPS_RECEIVE" 
        android:protectionLevel="signature"></permission>
	<application android:label="Maps_App">
<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCQ6u2tKnHvV2KjIVo1YMoJViplLij3C0E"/>
		
	</application>
	<uses-permission android:name="android.permission.INTERNET" />

</manifest>