<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2.1" package="face_detection.Cam_App" android:versionCode="2">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16" />
	<application android:label="Cam_App"></application>
</manifest>